a:link {
        color:blue;
        text-decoration:none;
}

a:visited {
            color:mediumpurple;
            text-decoration:none;
}

a:hover {
         color:blue;
         text-decoration:underline;
         background-color:green;
}

a:active {
            color:mediumpurple;
            text-decoration:none;
}

th, td {
        text-align:center;
}

th {
    background-color:gray;
}

td {
    font-style:italic;
}

li {
    font-style: italic;
}

#albumCover {
             background-image:url("https://upload.wikimedia.org/wikipedia/en/7/7d/Dream_Theater_-_Black_Clouds_%26_Silver_Linings.jpg");
             background-repeat: no-repeat;
             background-position:center;
             text-align: center;
}

table {
	   width:100%;
}