#header {
            text-align: center;
            color: red;
}

li {
    display: inline;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:link {
        color: blue;
}

a:visited {
            color:mediumpurple;
            text-decoration: underline;
}

a:hover {
            color: green;
}

#footer {
            text-align: center;
}