a:link {
        color:blue;
}

a:visited {
            color:mediumpurple;
            text-decoration: underline;
}

a:hover {
         color:blue;
         text-decoration:underline;
}

a:active {
            color:mediumpurple;
            text-decoration:underline;
}

th, td {
        text-align:center;
}

th {
    background-color:gray;
}