#header {
         text-align: center;
         color: red;
         font-family:"Orbitron";
         font-weight: 700;
         font-style:normal;
         background-color:white;
         background-position: top;
}

li {
    display: inline;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:link {
        color: blue;
}

a:visited {
            color:red;
            text-decoration: underline;
}

a:hover {
         color: green;
         font-weight:bolder;
}

a:active {
          text-decoration:none;
}

#footer {
         text-align: center;
         background-color:white;
            
}

#body {
       background-color:cornsilk;
}